$primary: #1F1F1F;
$secondary: #BB86FC;
$back: #1D1D1D;

$text: hsl(0, 0%, 96%);
$text-strong: hsl(0, 0%, 100%);

$scheme-main: $back;
$scheme-main-bis: darken($back, 1%);

$box-background-color: $primary;