{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'index-bundle.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="">
        {% include 'includes/header.html' %}
        {% block content %}
        {% endblock %}
        {% include 'includes/footer.html' %}
    </div>
</body>
</html>