{% extends 'base.html' %}{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="section">
    <div class="container fullsize">
        <div class="box">
            <h1 class="title">This is a title</h1>
            <h2 class="subtitle">This is a subtitle</h2>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum in numquam laudantium minus blanditiis, iusto quos voluptatibus esse omnis cupiditate. Assumenda facere dolore sequi autem harum, cupiditate unde optio molestias.
            </p>
        </div>
    </div>
</div>
{% endblock %}